.MainScreen{
    padding-top:20px;
    overflow:hidden
}

.ListaHeader{
  display: flex
}

.ListaHeader h2{
  flex:2 0 auto
}

.ListaHeader button{
  flex:1 0 auto;
  float: right 
}
  
.blur{
    filter: blur(2px);
}



.Produto{
    margin:5px;
    flex: 1;
    border-radius:10px;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.45);
    animation-name: aniLista;
    animation-duration: 1s;
  
  }
  
  .Produto .header{
    font-size: 10px;
    background: #30302D;
    color: #DB5461;
    padding:5px;
    font-style: italic;
  }
  
  .Produto .body{
    font-size:24px;
    background: #DB5461;
    color: #30302D;
    padding:5px
  }
  
  .Produto .info{
    font-size:12px
  }
  
  .Produto .result{
    float:right
  }

  .lista{
    display: flex;
    flex-direction: column
  }

  .ListaForm{
    display: flex;
    align-items: center;
    animation-name: aniDialogo;
    animation-duration: .5s
  }
  
  .ListaForm .wrapper{
    border: 1px solid #af5c0e;
    flex: 1;
    margin: auto 5%;
    background: #FFFFFF;
    position: absolute;
    width: 80%;
    padding: 5%;
    z-index:1;
    border-radius: 5px
  }
  
  .ListaForm .bg{
    width:100%;
    height:100%;
    position: absolute;
    top:0px;
    left:0px;
    background: #999999;
    opacity: 0.5;
  }

  @keyframes aniLista{
    from{ opacity: 0; transform:translateY(-10px)}
    to{ opacity : 1; transform:translateY(0px)}
  }
  
  @keyframes aniDialogo{
    from{ opacity: 0; transform:scale(0.2)}
    to{ opacity : 1; transform:scale(1)}
  }