nav{
    display: flex;
    background: #4B4890
}

nav .navbtn{
    flex: 1 0 auto;
    padding:15px 0px;
    text-align: center;
    text-decoration: none;
    color: #F1EDEE
}

.selected{
    background: #8583BA;
}