.cadastroFechado{
    margin-top:-234px;
    background:#120e6a;
    animation-name: ani-cadastroFechado;
    animation-duration: 500ms
}

.cadastroInicial{
    margin-top:-185px !important;
}

.cadastroAberto{
    padding-top:20px;
    margin-top:0px;
    background:#120e6a;
    animation-name: ani-cadastroAberto;
    animation-duration: 500ms
  }

@keyframes ani-cadastroFechado{
    from{ margin-top: 0px }
    to{ margin-top: -234px}
}

@keyframes ani-cadastroAberto{
    from{ margin-top: -234px}
    to{ margin-top: 0px }
}

  
.name-control{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin:5px 5%;
    margin-bottom:10px;
}


.name-control span{
    font-size:10px;
    color: #cccccc;
    margin-bottom:5px
}

.name-control input{
    font-size:18px;
    background: none;
    color: #FFFFFF;
    border: none;
    padding:5px;
    border-bottom: 1px solid #FFFFFF;
    transition: 0.3s;
  }

  .name-control input:focus{
      font-size:28px;
      transition: 0.3s;
  }

.ProdutoForm{
    display: flex;
    flex-wrap: wrap;

}

.form-control{
    padding:0px;
    width:42.5%;
    display:flex;
    height:72px;
    margin:0 5% 0 0
}

.form-control:first-child{
    margin-left:5%
}

.form-control .icon{
    background: #4b4892;
    height:48px;
    margin-top:13px;
    flex:0 0 48px;
    display:flex;
    align-content: center;
    justify-content: center;
    border-radius:2px;
}

.form-control .icon svg{
    align-self: center
}

.form-control .content{
    height:72px;
    flex:auto;
}

.form-control span{
    color: #736ff4;
    display: block;
    font-size:10px;
    width:95%;
    margin-left:5px
}

.form-control .content div{
    margin-left:5px
}

.form-control .content div input{
    border: none;
    border-bottom: 1px solid #ffffff;
    color: #dddddd;
    font-weight: bold;
    font-size:28px;
    padding:8px;
    width: 90%;
    background: #4b4892
}

.form-control:last-child{
    margin: 15px 0 0 5%;
    width:95%;
}