#ativo{
  background: #DB5461
}
#desativado{
  background: #8AA29E
}
#dark{
  background: #30302D
}
#light{
  background: #F1EDEE
}
#primary{
  background: #3D5467
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

h2{
  margin:10px 0 0 5px;
  font-size:16px;
  color: #999999
}

.name-control{
  width: 90%;
  display: flex;
  flex-direction: column;
  margin:5px;
  padding:5px;
}

.name-control span{
  font-size:10px;
  color: #30302D;
}

.name-control input{
  font-size:16px;
  color: #30302D;
  border: none;
  border-bottom: 1px solid #30302D;
}

.btn{
  display: flex;
}

.btn button{
  background: #30302D;
  border-radius: 10px;
  padding:20px 25px;
  color: #FFFFFF;
  border:none;
  flex: 1;
  margin:5px
}

.optbtn{
  float:right;
  margin-right:10px;
  border-radius: 10px;
  padding:10px 20px;
  color: #FFFFFF;
  border:none;
  font-size:14px
}

.red{
  background: #af5c0e!important;
}

.green{
  background: #059960;
}

.mb2{
  margin-bottom: 20px
}