#ativo{
  background: #8583BA
}
#desativado{
  background: #8AA29E
}
#dark{
  background: #4B4890
}
#light{
  background: #FFF1DD
}
#primary{
  background: #736ff4
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

h2{
  margin:10px 0 0 5px;
  font-size:16px;
  color: #999999
}


.btn{
  display: flex;
  margin-top:10px
}

.btn button:first-child{
  flex:10 0 auto;
}

.btn button:last-child{
  flex:1 0 auto
}

.btn button{
  background: #0F6559;
  border-radius: 5px;
  padding:20px 25px;
  color: #FFFFFF;
  border:none;
  margin:5px
}

.optbtn{
  margin-right:5px;
  border-radius: 5px;
  padding:10px 20px;
  color: #FFFFFF;
  border:none;
  font-size:14px
}

.right{
  float: right
}

.red{
  background: #af5c0e!important;
}

.green{
  background: #059960;
}

.blue{
  background: #230599;
}

.border-blue{
  border: 1px solid #230599!important;
  background:none!important 
}

.border-white{
  border: 1px solid #ffffff!important;
  background:none!important 
}

.mb2{
  margin-bottom: 20px
}